@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'arial unicode';
    src: url(fontes/arial-unicode-ms.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: arial;
    background: radial-gradient(circle,#000000, #0F0022 );
    margin: auto;
    padding-bottom: 300px;
}

.header-section h1 {
    color: white;
    text-align: center;
    padding-top: 250px;
    font-family: 'Anton', sans-serif;
    font-size: 60pt;
}


.icon-title{
    position: absolute;
    margin-top: 290px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    color: white;
}

/* MENU */

#home-icon {
    position: absolute;
    margin: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.menu {
    list-style: disc;
    display: flex;
    margin: auto;
}

.menu li{
    font: 'arial unicode';
    color: white;
    padding: 20px;
    display: flex;
    font-size: 15pt;
}

/* HOME */

#home {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 400px;
    color: white;
    text-align: center;
}


#foto-perfil {
    grid-column: 1/1;
    perspective: 1000px;

}

#foto-perfil:hover #circulo-01{
    transition: transform 0.5s;
}

#foto-perfil:hover #circulo-02{
    transition: transform 0.75s;
}

#foto-perfil:hover #circulo-03{
    transition: transform 1s;
}

#foto-perfil:not(:hover) #circulo-01{
    transition: transform 1s;
}

#foto-perfil:not(:hover) #circulo-02{
    transition: transform 0.75s;
}

#foto-perfil:not(:hover) #circulo-03{
    transition: transform 0.5s;
}


.circulo {
    position: absolute;
    
}

#foto-perfil:hover #circulo-01{
    transform: translateY(30px) translateX(20px);
}

#foto-perfil:hover #circulo-02{
    transform: translateY(30px) translateX(20px);
}

#foto-perfil:hover #circulo-03{
    transform: translateY(30px) translateX(20px);
}

#foto-perfil:not(:hover) #circulo-01{
    transform: translateY(0px) translateX(0px);
}

#foto-perfil:not(:hover) #circulo-02{
    transform: translateY(0px) translateX(0px);
}

#foto-perfil:not(:hover) #circulo-03{
    transform: translateY(0px) translateX(0px);
}

#circulo-01 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 35%;
    margin-top: 75px;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.5);
}

#circulo-01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#circulo-02 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 60px;
    background: -webkit-radial-gradient(circle,#AC1A80,#BD00C0);
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.5);
}

#circulo-03 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 45px;
    background-color: white;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.5);
}

#texto {
    grid-column: 2/2;
    margin: auto 0px auto 0px;
}

#texto h1 {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-size: 60pt;
    background: linear-gradient(97deg, #BD00C0, #E914C2, #F555E9, #BD00C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#texto p {
    margin-right: 20px;
}

#texto {
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 20pt;
}

/* SKILLS */

#skills {
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 20pt;
    display: flex;
    width: 100%;
    justify-content: center;
}

#skills-container{
    display: flex;
    gap: 50px;
    max-width: 80%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

#skills p {
    font-family: 'arial unicode', sans-serif;
    font-size: 18pt;
    padding-top: 10px;
}

.skill {
    width: 200px;
    margin: auto;
    padding-top: 50px;
    scroll-snap-align: start;
}

.icon-skill {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.icon {
    width: 70%;
    object-fit: cover;
    padding-top: 13%;
    scale: 0.75;
}

.js-icon {
    width: 80%;
    scale:1;
}

.figma-icon {
    width: 80%;
    scale:1;
}

.bi-icon {
    width: 80%;
    scale:0.8;
}

.ux-icon {
    width: 80%;
    scale:0.8;
}

.ps-icon {
    margin-top: 20px;
    width: 100%;
    scale:1;
}

.il-icon {
    width: 80%;
    scale:0.8;
}

.sql-icon {
    width: 80%;
    scale:0.8;
}

.estrela {
    padding-top: 15px;
    margin: auto;
}

.nivel {
    display: flex;
}

.seta-esquerda {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 70px;
}

.seta-direita {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 70px;
}


/* EDUCATION */

#education {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 60%;
    margin: auto;
    margin-top: 70px;
}

#ed1{
    grid-column: 1/2;
    display: flex; 
    padding-left: 20px;
}

#ed2 {
    grid-column: 2 / 3;
    display: flex; 
    
}

.status-education {
    list-style: disc;
    
}

.status-education li{
    font: 'arial unicode';
    color: white;
    padding: 20px;
    font-size: 15pt;
}

/* PROJECTS */

#Projects {
    width: 100%;
}

.project {
    max-width: 1300px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;  
    padding: 15px;
    cursor: pointer;
} 

.project:hover {
    max-width: 1400px;
    height: 500px;
    transition: 0.5s;
} 

.project:not(:hover) {
    transition: 0.5s;
} 


#img-project {
    width: 35%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000000;
}

#img-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}