body {
    font-family: arial;
    background: radial-gradient(circle,#000000, #0F0022 );
    margin: auto;
    padding-bottom: 300px;
}

body h1 {
    color: white;
    text-align: center;
}

/* SKILLS */

#skills {
    color: white;
    text-align: center;
    padding-top: 250px;
    font-family: 'Anton', sans-serif;
    font-size: 20pt;
    display: flex;
    width: 100%;
    justify-content: center;
}

#skills-container{
    display: flex;
    gap: 50px;
    max-width: 80%;
    /*overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;*/
    transition: transform 1s ease;
}

#skills p {
    font-family: 'arial unicode', sans-serif;
    font-size: 18pt;
    padding-top: 10px;
}

.skill {
    width: 200px;
    margin: auto;
    padding-top: 50px;
    scroll-snap-align: start;
}

.icon-skill {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.icon {
    width: 70%;
    object-fit: cover;
    padding-top: 13%;
    scale: 0.75;
}

.estrela {
    padding-top: 15px;
    margin: auto;
}

.nivel {
    display: flex;
}

.seta {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#seta-esquerda, #seta-direita {
    position: absolute;
    z-index: 3;
}

#seta-esquerda {
    left: 8%;
}

#seta-direita {
    right: 8%;
}